<section id="checkout" class="checkout">
    <div class="container">

        <div class="page-title font-weight-bold">Pembayaran</div>

        <div class="box">

            <div class="row">
                <div class="col-md-9 col-sm-9" style="padding: 50px;">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-title">
                                <h3>Ringkasan manfaat</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 font-weight-bold">Jenis Asuransi</div>
                        <div class="col-md-8">Perlindungan Asuransi Kesehatan</div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="form-title">
                                <h3>Peserta</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-muted">Nama Lengkap Peserta</div>
                            <div>{{ fullName }}</div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-muted">Jenis Kelamin</div>
                            <div>{{ gender }}</div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="text-muted">Tanggal Lahir</div>
                            <div>{{ birthdate }}</div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-muted">Nomor Handphone</div>
                            <div>{{ phone }}</div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="text-muted">Email</div>
                            <div>{{ email }}</div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-muted">No KTP/KK</div>
                            <div>{{ identityNumber }}</div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-8">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-title">
                                        <h3>Pihak Yang Diasuransikan</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-muted">Nama Lengkap Peserta</div>
                                    <div>{{ fullName }}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-muted">Jenis Kelamin</div>
                                    <div>{{ gender }}</div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <div class="text-muted">Tanggal Lahir</div>
                                    <div>{{ birthdate }}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-muted">Nomor Handphone</div>
                                    <div>{{ phone }}</div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <div class="text-muted">Email</div>
                                    <div>{{ email }}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-muted">No KTP/KK</div>
                                    <div>{{ identityNumber }}</div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-title">
                                        <h3>Manfaat yang Didapat</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-muted">Total Manfaat</div>
                                    <div>
                                        <span class="c-primary t-price">{{ benefitTotal }}</span>
                                        <span class="c-primary"> per bulan</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row mt-5">
                        <div class="col-md-8">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-title">
                                        <h3>Info Kontribusi</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-muted">Tagihan Kontribusi Kamu akan disesuaikan setiap tahunnya
                                        sesuai dengan usia Kamu</div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-title">
                                        <h3>Total Kontribusi Kamu</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-muted">Kontribusi bulanan sekarang</div>
                                    <div>
                                        <span class="c-primary t-price">{{ price }}</span>
                                        <span class="c-primary"> per bulan</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-3 col-sm-3 text-center" style="padding: 50px 20px; background-color: #efefef;">
                    <div>Total Kontribusi Kamu</div>
                    <div>
                        <span class="c-primary t-price-2">{{ price }}</span>
                    </div>
                    <div>per bulan</div>

                    <hr style="border-top: 2px solid #aaa;" />

                    <div class="text-left">
                        <div class="c-primary t-price mb-2">Penting</div>
                        <div class="mb-2">Asuransi hanya dapat diikuti oleh:</div>
                        <div class="mb-2">
                            <ul class="pl-4">
                                <li>Warga Negara Indonesia</li>
                                <li>Memiliki KTP</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="mt-4 mb-2">
            <input class="mr-2" type="checkbox" value="" checked> Saya untuk diri saya sendiri dan Pihak Yang
            Diasuransikan menyatakan telah membaca dan menyetujui <a href="#" style="pointer-events: none;">Pernyataan &
                Kuasa serta Akad Asuransi Syariah</a> yang berlaku
        </div>
        <div class="text-center">
            <a href="" class="button">Selesai</a>
        </div>

    </div>
</section>