
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Great Eastern Life Indonesia</h3>
              <strong>Customer Contact Center:</strong><br />+62 21 2554 3800<br>
              <strong>WhatsApp Official:</strong><br />+62 811 956 3800<br>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Asuransi Individu</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Asuransi Jiwa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Asuransi Kesehatan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Asuransi Kecelakaan Diri</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Asuransi Syariah</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Asuransi Korporat</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Asuransi Korporat</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Asuransi Jiwa Kredit</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Corporate Wellness Programme</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Karir</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Kesempatan Kerja</a></li>
            </ul>
            <h4>Tentang Kami</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tentang Great Eastern Life Indonesia</a></li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="copyright container d-flex align-items-center">
      <div class="d-none d-lg-block"><img src="assets/img/logo.png" alt="" class="img-fluid"></div>
      <div class="disclaimer">
        <a href="#">Syarat dan Ketentuan</a> | <a href="#">Kebijakan Privasi dan Keamanan</a> | <a href="#">Kebijakan &
          Informasi lainnya</a><br />
        Hak Cipta &copy; 2020 Great Eastern Holdings Limited (Reg No 1999 03008M)
        <p>Great Eastern Life Indonesia terdaftar dan diawasi oleh Otoritas Jasa Keuangan</p>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>