<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel">
  
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
        <div class="carousel-inner" role="listbox">
  
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div *ngIf='label'class="carousel-container c-label">
              <div class="banner animated fadeInUp scrollto">{{ label }}
              </div>
            </div>
            <div class="carousel-container center">
              <div class="carousel-content">
                <div>
                  <a href="#offer" class="btn-get-started animated fadeInUp scrollto">Dapatkan Sekarang!</a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
        <!-- <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
  
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
  
      </div>
    </div>
  </section><!-- End Hero -->
  
  <main id="main">
    
    <!-- ======= Offer Section ======= -->
    <section id="offer" class="offer">
      <div class="container">
  
        <div class="box">
          <div class="section-title">
            <h2>Dapatkan Penawaran</h2>
          </div>
  
          <div class="form">
            <form [formGroup]="registrantForm" novalidate>
              <div class="form-row">
  
                <div class="col-md-6 form-group text-center">
                  <label class="font-weight-bold" for="membership">Kepesertaan</label>
  
                  <div class="form-row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-6 form-group">
  
                      <div>
                        <label>
                          <input type="radio" value="my-self" formControlName="membership">
                          <img src="assets/img/icon-gender-male-selected.png">
                          <div>Saya Sendiri</div>
                        </label>
                      </div>
                    </div>
  
                    <div class="col-md-6 col-sm-6 col-xs-6 col-6 form-group">
  
                      <div>
                        <label>
                          <input type="radio" value="familiy-member" formControlName="membership">
                          <img src="assets/img/icon-gender-female-selected.png">
                          <div>Anggota Keluarga</div>
                        </label>
                      </div>
                    </div>
                  </div>
  
                  <div class="validate"></div>
                </div>
  
                <div class="col-md-6 form-group text-center">
                  <label class="font-weight-bold" for="gender">Jenis Kelamin</label>
  
                  <div class="form-row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-6 form-group">
  
                      <div>
                        <label>
                          <input type="radio" value="male" formControlName="gender">
                          <img src="assets/img/icon-gender-male-selected_1.png">
                          <div>Laki - Laki</div>
                        </label>
                      </div>
                    </div>
  
                    <div class="col-md-6 col-sm-6 col-xs-6 col-6 form-group">
  
                      <div>
                        <label>
                          <input type="radio" value="female" formControlName="gender">
                          <img src="assets/img/icon-gender-female-selected_2.png">
                          <div>Perempuan</div>
                        </label>
                      </div>
                    </div>
                  </div>
  
                  <div class="validate"></div>
                </div>
              </div>
  
              <div class="form-row">
                <div class="col-md-8 offset-md-2 form-group text-center form-birthdate">
                  <label class="font-weight-bold" for="birthdate">Usia Pihak Yang Diasuransikan (30 hari - 55
                    tahun)</label>
                  <input type="date" class="form-control text-center f-birthdate" name="birthdate" id="birthdate" formControlName="birthdate" />
                  <div class="validate v-birthdate"></div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" (click)="scrollTo(pricing)">Mulai</button>
              </div>
            </form>
          </div>
        </div>
  
      </div>
    </section>
    <!-- End Contact Section -->
  
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing d-none" #pricing>
      <div class="container">
  
        <div class="section-title pricing">
          <h2>Pilih Kontribusimu</h2>
        </div>
  
        <div class="row pricing">
  
          <div class="col-lg-6 col-md-6 mt-3">
            <div class="box">
              <h3>Plan Premi Terjangkau</h3>
              <h4><sup>Rp</sup>75.000<span> / bulan</span></h4>
              <ul>
                <li>Batas manfaat per tahun polis</li>
                <li><b>50.000.000</b></li>
                <li>Disesuaikan berdasarkan</li>
                <li><b>Usia anda</b></li>
              </ul>
              <a href="#">Baca Selengkapnya »</a>
              <div class="btn-wrap" style="cursor: pointer;">
                <a (click)="selectContribution('minimal')" class="btn-buy">Pilih</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-6 mt-3">
            <div class="box">
              <h3>Plan Perlindungan Maksimal</h3>
              <h4><sup>Rp</sup>187.500<span> / bulan</span></h4>
              <ul>
                <li>Batas manfaat per tahun polis</li>
                <li><b>100.000.000</b></li>
                <li>Disesuaikan berdasarkan</li>
                <li><b>Usia anda</b></li>
              </ul>
              <a href="#">Baca Selengkapnya »</a>
              <div class="btn-wrap" style="cursor: pointer;">
                <a (click)="selectContribution('maksimal')" class="btn-buy">Pilih</a>
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="row pricing note">
          <div class="col-12">
            <p>Dengan klik pilih saya menyatakan bahwa : </p>
            <ol>
              <li>Peserta adalah orang yang sama dengan pembayar Kontribusi Polis.</li>
              <li>Saya, anggota keluarga saya ( hingga derajat 2 ) atau rekan kerja saya adalah bukan termasuk Orang yang
                Populer Secara Politis ( Politically Exposed Persons ).</li>
              <li>Saya sudah membaca dan memahami ketentuan yang berlaku dalam produk ini termasuk hal-hal yang tidak
                diasuransikan dalam polis.</li>
            </ol>
            <p>*) Besarnya Kontribusi akan berubah seiring bertambahnya Usia Pihak Yang Diasuransikan serta peningkatan
              biaya kesehatan. Penjelasan lengkap dapat dilihat dalam Polis.</p>
          </div>
        </div>
  
      </div>
    </section><!-- End Pricing Section -->
  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
  
        <div class="section-title">
          <h2>Dapatkan Asuransi dengan 3 langkah mudah</h2>
        </div>
  
        <div class="row">
          <div class="col-lg-4 col-md-4 icon-box">
            <div class="icon"><img src="assets/img/icon-process-pick-product.png" class="img-fluid"></div>
            <h4 class="title"><a href="#">Langkah 1</a></h4>
            <p class="description">Pilih Produk</p>
          </div>
          <div class="col-lg-4 col-md-4 icon-box">
            <div class="icon"><img src="assets/img/icon-process-fill-data.png" class="img-fluid"></div>
            <h4 class="title"><a href="#">Langkah2</a></h4>
            <p class="description">Isi Data Diri & Pertanyaan Kesehatan</p>
          </div>
          <div class="col-lg-4 col-md-4 icon-box">
            <div class="icon"><img src="assets/img/icon-process-payment.png" class="img-fluid"></div>
            <h4 class="title"><a href="#">Langkah 3</a></h4>
            <p class="description">Pembayaran Tinggal Pilih Menggunakan Transfer Bank atau Kartu Kredit</p>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
  
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">
  
        <div class="section-title">
          <h2>Keuntungan Asuransi</h2>
        </div>
  
        <div class="row">
  
          <div class="col-lg-4">
            <div class="box">
              <img src="assets/img/icon-benefit-simple.png" class="img-fluid">
              <h4>Terjangkau & Simple</h4>
              <p>Kontribusi mulai dari Rp75 ribu/bulan. Proses masuk dan keluar Rumah Sakit rekanan gak pake ribet, cukup
                gesek kartu asuransi sepanjang biaya kamar sesuai Plan.</p>
            </div>
          </div>
  
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <img src="assets/img/icon-benefit-complete-2.png" class="img-fluid">
              <h4>Lengkap</h4>
              <p>Manfaat asuransi gak hanya biaya kamar, tapi juga biaya dokter, obat-obatan, perawatan setelah rawat
                inap, biaya tindakan bedah dan cek lab dengan nilai manfaat hingga Rp100 juta/tahun.</p>
            </div>
          </div>
  
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <img src="assets/img/icon-benefit-covid-19.png" class="img-fluid">
              <h4>Manfaat Khusus COVID-19</h4>
              <p>Karena kami peduli, kami berikan tambahan Manfaat Khusus COVID-19 di luar dari Manfaat Asuransi Bebas
                Handal berupa Manfaat Santunan Harian, Manfaat Karantina dan Manfaat Meninggal Tambahan (Periode
                kepesertaan hingga 30 Juni 2020).</p>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-lg-12">
            <div class="campaign">
              <p>Perlindungan kesehatan lengkap Asuransi Bebas Handal termasuk Manfaat Khusus COVID-19. Masa gak mau?</p>
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End Why Us Section -->
  
  </main><!-- End #main -->