
/* HIDE RADIO */

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  
  [type=radio]+img {
    cursor: pointer;
    width: 100px;
    filter: grayscale(100%);
  }
  
  [type=radio]+img+div {
    cursor: pointer;
  }
  
  [type=radio]:checked+img+div {
    color: #ED1C24;
  }
  
  /* CHECKED STYLES */
  
  [type=radio]:checked+img {
    border-radius: 100px;
    border: 2px solid #ED1C24;
    filter: none;
  }
  
  .form-birthdate > input[type=date] {
    outline: none;
    border: 0;
    border-bottom: 1.5px solid #ED1C24;
  }
  
  .form-birthdate > input[type=date]:focus {
    outline: none;
    box-shadow: 0 0 0 rgb(255, 255, 255);
  }
  
  .form-birthdate > input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
  
  .form-birthdate > input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
  }