<button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<div class="hotline d-none d-lg-block">
  <div class="container d-flex align-items-center">
    <span>24/7 Layanan Hotline <b>(021) 2554 3800</b></span>
    <nav class="nav-menu-hotline d-lg-block">
      <ul>
        <li class=""><a href="">BERANDA</a></li>
        <li class=""><a href="#">TENTANG KAMi</a></li>
      </ul>
    </nav>
  </div>
</div>
<header id="header" class="">
  <div class="container d-flex align-items-center">

    <a href="" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="drop-down"><a href="#">Asuransi Individu</a>
          <ul>
            <li><a href="#">Asuransi Jiwa</a></li>
            <li><a href="#">Asuransi Kesehatan</a></li>
            <li><a href="#">Asuransi Kecelakaan Diri</a></li>
            <li><a href="#">Asuransi Syariah</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="">Asuransi Korporat</a>
          <ul>
            <li><a href="#">Asuransi Korporat</a></li>
            <li><a href="#">Asuransi Jiwa Kredit</a></li>
            <li><a href="#">Corporate Wellness Programme</a></li>
          </ul>
        </li>
        <li class=""><a href="">Karir</a></li>

      </ul>
    </nav><!-- .nav-menu -->
    
    <nav class="mobile-nav">
      <ul>
        <li class="drop-down"><a href="#">Asuransi Individu</a>
          <ul>
            <li><a href="#">Asuransi Jiwa</a></li>
            <li><a href="#">Asuransi Kesehatan</a></li>
            <li><a href="#">Asuransi Kecelakaan Diri</a></li>
            <li><a href="#">Asuransi Syariah</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="">Asuransi Korporat</a>
          <ul>
            <li><a href="#">Asuransi Korporat</a></li>
            <li><a href="#">Asuransi Jiwa Kredit</a></li>
            <li><a href="#">Corporate Wellness Programme</a></li>
          </ul>
        </li>
        <li class=""><a href="">Karir</a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<div class="mobile-nav-overly"></div>