<section id="checkout" class="checkout">
    <div class="container">

        <div class="page-title font-weight-bold">Isi Data Diri Peserta / Pihak Yang Diasuransikan</div>

        <div class="box">
            <div class="form-title">
                <h3>Pertanyaan Kesehatan</h3>
            </div>

            <div class="form">
                <form [formGroup]="registrantForm" novalidate>
                    <div class="form-row">

                        <div class="col-md-6 form-group">
                            <label class="" for="bodyHeight">Tinggi Badan (cm)</label>
                            <input class="form-control" type="text" value="" formControlName="bodyHeight">
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="" for="bodyWeight">Berat Badan (kg)</label>
                            <input class="form-control" type="text" value="" formControlName="bodyWeight">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <ol class="ml-0 pl-3">
                                <li class="ml-0 pl-2 pb-2 text-muted">Pernahkah Kamu menderita, pernah diberitahu memiliki atau mengalami gejala salah satu penyakit berikut ini ? <a href="#" style="pointer-events: none;" target="_blank">(lihat lebih lengkap)</a></li>
                                <li class="ml-0 pl-2 pb-2 text-muted">Dalam 2 tahun terakhir, apakah Kamu pernah didiagnosis dengan penyakit lain seperti berikut ? <a href="#" style="pointer-events: none;" target="_blank">(lihat lebih lengkap)</a></li>
                                <li class="ml-0 pl-2 pb-2 text-muted">Apakah saat ini Kamu memiliki diagnosa penyakit tertentu (termasuk didalamnya COVID-19) atau sedang menunggu hasil pemeriksaan medis atau sedang dalam perawatan/pembedahan? <a href="#" style="pointer-events: none;" target="_blank">(lihat lebih lengkap)</a></li>
                            </ol>
                            <input type="radio" value=true formControlName="atRisk"> Ya, untuk salah satu atau semua
                            <input type="radio" value=false formControlName="atRisk"> Tidak untuk semua
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="button" (click)="nextForm()">Lanjutkan</button>
        </div>

    </div>
</section>