.page-title {
    color: #ED1C24;
    font-size: xx-large;
    margin-bottom: 50px;
}

.form-title {
    color: #ED1C24;
    margin-bottom: 20px;
}

.checkout {
    background-color: #f9f9f9;
    background-image: url(src//assets/img/bg-city-skyline.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 548px
}

.checkout button {
    display: inline-block;
    padding: 12px 32px 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    border: 2px solid #ED1C24;
    background: #ED1C24;
  }
  
  .checkout button:hover {
    background: #FF3732;
    border-color: #FF3732;
    color: #fff;
  }
  
  .checkout a {
    display: inline-block;
    padding: 12px 32px 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    border: 2px solid #ED1C24;
    background: #ED1C24;
  }
  
  .checkout a:hover {
    background: #FF3732;
    border-color: #FF3732;
    color: #fff;
  }
  
  .checkout .box {
    background: #fff;
    padding: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
  }