<section id="checkout" class="checkout">
    <div class="container">

        <div class="page-title font-weight-bold">Isi Data Diri Peserta / Pihak Yang Diasuransikan</div>

        <div class="box">
            <div class="form-title">
                <h3>Dapatkan Penawaran</h3>
            </div>

            <div class="form">
                <form [formGroup]="registrantForm" novalidate>
                    <div class="form-row">

                        <div class="col-md-6 form-group">
                            <label class="" for="membership">Nama Lengkap</label>
                            <input class="form-control" type="text" value="" formControlName="fullName">
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="" for="phone">Nomor Handphone</label>
                            <input class="form-control" type="text" value="" formControlName="phone">
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-6 form-group">
                            <label class="" for="email">Email</label>
                            <input class="form-control" type="email" value="" formControlName="email">
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="" for="birthplace">Tempat Lahir</label>
                            <input class="form-control" type="text" value="" formControlName="birthplace">
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-6 form-group">
                            <label class="" for="identityType">Jenis Identitas</label>
                            <select class="form-control" formControlName="identityType">
                                <option value="-" disabled>---</option>
                                <option value="ktp">KTP</option>
                                <option value="kk">Kartu Keluarga</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="" for="identityNumber">No KTP/KK</label>
                            <input class="form-control" type="text" value="" formControlName="identityNumber">
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-6 form-group">
                            <label class="" for="identityAddress">Alamat Sesuai Identitas</label>
                            <input class="form-control" type="text" value="" formControlName="identityAddress">
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="" for="identityProvince">Provinsi</label>
                            <input class="form-control" type="text" value="" formControlName="identityProvince">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <input class="mr-2" type="checkbox" value="" formControlName="addressEqual"
                                (change)="checkAddressEqual($event)">
                            <label for="addressEqual">Alamat Tempat Tinggal sama dengan Alamat Sesuai
                                Identitas</label>
                        </div>
                    </div>

                    <div class="form-row form-home-address d-none">

                        <div class="col-md-6 form-group">
                            <label class="" for="homeAddress">Alamat Tempat Tinggal</label>
                            <input class="form-control" type="text" value="" formControlName="homeAddress">
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="" for="homeProvince">Provinsi</label>
                            <input class="form-control" type="text" value="" formControlName="homeProvince">
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-6 form-group">
                            <label class="" for="referenceCode">Punya kode referensi/promo?</label>
                            <input class="form-control" type="text" value="" formControlName="referenceCode">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-12 form-group d-none f-joinWakaf">
                            <input class="mr-2" type="checkbox" value=""
                                (change)="checkJoinWakaf($event)">
                            <label>Ikut Program Wakaf</label>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-md-6 form-group d-none f-wakafRate">
                            <label class="" for="wakafRate">Persentase Wakaf (10 - 45)</label>
                            <input class="form-control" type="number" value="" formControlName="wakafRate">
                            <div class="validate v-wakafRate"></div>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <label class="" for="working">Apakah Kamu bekerja?</label><br />
                            <input type="radio" value=true formControlName="working"> Ya
                            <input type="radio" value=false formControlName="working"> Tidak
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <label class="" for="addressForMailing">Alamat yang dipakai untuk surat
                                menyurat?</label><br />
                            <input type="radio" value="identity" formControlName="addressForMailing"> Sesuai ID
                            <input type="radio" value="home" formControlName="addressForMailing"> Tempat Tinggal
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 form-group mt-2">
                            <span><b>Total manfaat yang anda dapatkan : </b></span>
                            <span>{{ totalBenefit }}</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="mt-4 mb-2">* Pihak Yang Diasuransikan berlaku untuk diri sendiri, Orang tua kandung, Suami/istri,
            Anak</div>
        <div class="text-center">
            <button type="button" (click)="nextForm()">Lanjutkan</button>
        </div>

    </div>
</section>